/* Universal CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-gray: #2C3531;
    --dark-teal: #116466;
    --dark-beige: #D9B08C;
    --light-beige: #FFCB9A;
    --light-blue: #D1E8E2;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark-gray);
}

/* Header CSS */

header {
    display: flex;
    padding: 20px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--dark-teal);
    z-index: 9999;
}

#brand {
    color: black;
    background-color: var(--light-blue);
    padding: 10px 10px 10px 125px;
    margin-left: -80px;
    border-radius: 5px;
}

header h1 {
    font-weight: bolder;
    font-size: 50px;   
}

header nav {
    margin: 20px 0;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 30px;
    font-size: 1.8vw;
    color: var(--light-beige);
  }
  
  header nav ul li a:hover {
    background: var(--light-blue);
    color: var(--dark-gray);
    border-radius: 15px;
    height: 145px;
    transition: 0.5s;
  }


  /* Hero CSS */

  #hero {
      background-image: linear-gradient(to top right, var(--dark-beige), var(--dark-gray), black);
      height: 50vh;
      display: flex;
      flex-wrap: wrap;
      align-items:flex-end;
      justify-content: flex-end;
       }

  #hero h2 {
      margin: 50px 100px;
      padding: 15px;
      font-size: 40px;
      background-color: var(--light-blue);
      border-radius: 5px;
  }

/* Main CSS */
main {
    color: whitesmoke;
}
.content-section {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto; 
    column-gap: 120px;
    margin-top: 100px;
    
}

.content-header {
   justify-self: end;
   font-size: 35px;
   padding-right: 50px;
   margin-right: -50px;
   border-right: solid var(--dark-teal);   
}

.content {
    
}

/* About Me CSS */

#about-me p {
    font-size: 20px;
}

/* Work CSS */


.work-grid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    grid-template-areas:
    "first first" 
    "second third"
    "fourth fifth";
    row-gap: 30px;
    column-gap: 20px;
    justify-content: center; 
}

.work-example {
    border: solid var(--light-blue);
    border-radius: 4px;
    padding: 5px;
    background-size: cover;
    background-position: center;
    opacity: 50%;
}

.work-example:hover {
    opacity: 100%;
    transition: 0.5s;
}

.work-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.work-example-description {
    color: var(--dark-gray);
    background-color: var(--light-blue);
    font-size: 150%;
    margin-right: 80%;
    margin-left: -8px;
    padding-left: 20px;
    border-radius: 4px;
    
}
img {
    opacity: 0;
}

#first-project {
    grid-area: first;
    background-image: url(./images/Run_Buddy_SS.PNG);
    
}

#second-project {
    grid-area: second;
    background-image: url(./images/PLACEHOLDER.svg);
}

#third-project {
    grid-area: third;
    background-image: url(./images/PLACEHOLDER.svg);
}

#fourth-project {
    grid-area: fourth;
    background-image: url(./images/PLACEHOLDER.svg);
}

#fifth-project {
    grid-area: fifth;
    background-image: url(./images/PLACEHOLDER.svg);
}

/* Contact Me Css */

#contact-me ul {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}


#contact-me ul li a {
    color: whitesmoke;
    font-size: 1.5vw;
}

#contact-me ul li a:hover {
    background: var(--dark-teal);
    color: var(--light-beige);
    border-radius: 4px;
    transition: 0.5s;
}

/* Media Q's */

